<!DOCTYPE html>
<meta charset="UTF-8">
<!DOCTYPE html>
<html>
<head>
	<title>flask Service</title>
</head>
<body><center><div>
	<h1>Service Page</h1>
	<hr width="100%" color="black"/>
	<form action="/register" method="POST">
	<input type="text" placeholder="username" name="username">
	<input type="password" placeholder="password" name="password">
	<input type="text" placeholder="email address" name="email">
	<button type="submit">Create</button>
	</form>
	<hr width="100%" color="black"/>
	<a href="/">홈페이지</a>
	</div></center>
	<hr>
	{% block content %}{% endblock %}
</body>
</html>