<!DOCTYPE html>
<html lang="zxx">
<!--English-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hiroto Template">
    <meta name="keywords" content="Hiroto, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strong Gum Hotel</title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/elegant-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/slicknav.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/style.css')}}">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="./index"><img src="{{ url_for('static', filename='customer/img/logo.png') }}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__btn__widget">
            <a href="#">Book Now <span class="arrow_right"></span></a>
        </div>
        <div class="offcanvas__widget">
            <ul>
                <li><span class="icon_pin_alt"></span> Gyeongido Ansansi Sanglokgu Hanyang road 55</li>
                <li><span class="icon_phone"></span> 031-400-1005</li>
            </ul>
        </div>
        <div class="offcanvas__language">
            <img src="{{ url_for('static', filename='customer/img/lan.png') }}" alt="">
            <span>English</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="./aboutEng">English</li>
                <li><a href="./about">Korean</li>
            </ul>
        </div>
        <div class="offcanvas__auth">
            <ul>
                <li><a href="./manager/login">Manager Page</a></li>
                <li><a href="reservationcheckEng">Reservation Check</a></li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><span class="icon_pin_alt"></span> Gyeongido Ansansi Sanglokgu Hanyang road 55</li>
                            <li><span class="icon_phone"></span> 031-400-1005</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__auth">
                                <ul>
                                    <li><a href="./manager/login">Manager Page</a></li>
                                    <li><a href="reservationcheckEng">Reservation Check</a></li>
                                </ul>
                            </div>
                            <div class="header__top__language">
                                <img src="{{ url_for('static', filename='customer/img/lan.png') }}" alt="">
                                <span>English</span>
                                <i class="fa fa-angle-down"></i>
                                <ul>
                                    <li><a href="./aboutEng">English</li>
                                    <li><a href="./about">Korean</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__nav__option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header__logo">
                            <a href="./indexEng"><img src="{{ url_for('static', filename='customer/img/logo3.png') }}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="header__nav">
                            <nav class="header__menu">
                                <ul class="menu__class">
                                    <li class="active"><a href="./indexEng">Home</a></li>
                                    <li><a href="./roomsEng">Rooms</a></li>
                                    <li><a href="./aboutEng">About Us</a></li>
                                    <li><a href="room-detailsEng">Details</a></li>
                                    <li><a href="./blog">News</a></li>
                                    <li><a href="./contactEng">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="header__nav__widget">
                                <a href="#">Book Now <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <span class="fa fa-bars"></span>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option set-bg" data-setbg="{{ url_for('static', filename='customer/img/breadcrumb-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h1>About Us</h1>
                        <div class="breadcrumb__links">
                            <a href="./indexEng">Home</a>
                            <span>About Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="about__content">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section-title">
                            <h5>Our Specialization</h5>
                            <h2>Welcome Itmom</h2>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about__text">
                            <p>Metasurfaces are generally designed by placing scatterers in periodic or pseudo-periodic
                                grids.</p>
                            <p>I am convinced the only way to make money online is to have a consistent Advertising
                                plan. A plan you are willing to work hard on and commit to for a selected period of
                                time. When making this plan, you need to do two things.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-1.png') }}" alt="">
                        <h4>Free Wi-Fi</h4>
                        <p>Enjoy free Wi-Fi at very fast speeds anywhere in the hotel.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-2.png') }}" alt="">
                        <h4>Premium Pool</h4>
                        <p>In the indoor pool, you can play in the water regardless of the season.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-3.png') }}" alt="">
                        <h4>Coffee Maker</h4>
                        <p>Have a pleasant day with a coffee maker in each room.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-4.png') }}" alt="">
                        <h4>Bar Wine</h4>
                        <p>When you need an atmosphere, how about a glass of wine?</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-5.png') }}" alt="">
                        <h4>TV HD</h4>
                        <p>You can enjoy the UHD quality TV to your heart's content.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-6.png') }}" alt="">
                        <h4>Restaurant</h4>
                        <p>Experience the best meals served by a three-star Michelin chef.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Chooseus Section Begin -->
    <div class="chooseus spad set-bg" data-setbg="{{ url_for('static', filename='customer/img/chooseus-bg.jpg') }}">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="chooseus__text">
                        <div class="section-title">
                            <h5>WHY CHOOSE US</h5>
                            <h2>Contact us now to get the latest deals and for the next booking</h2>
                        </div>
                        <a href="reservationEng" class="primary-btn">Booking Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Chooseus Section End -->

    <!-- History Section Begin -->
    <section class="history spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title history-title">
                        <h5>Our History</h5>
                        <h2>Explore Our Hotel</h2>
                    </div>
                </div>
            </div>
            <div class="history__content">
                <div class="row">
                    <div class="col-lg-5 col-md-5">
                        <div class="history__item left__item">
                            <div class="history__date"></div>
                            <span>02 Mar 2017</span>
                            <h4>Start Up Building Hotel</h4>
                            <img src="{{ url_for('static', filename='customer/img/history/history-1.jpg') }}" alt="">
                            <p>Jung Min-gyun, a young college student, started a hotel business aroused and named it Gum Hotel. Was a small building in the early days
                                Gum Hotel will grow very fast with the investment of Hanyang University.</p>
                        </div>
                        <div class="history__item left__item mb-0">
                            <div class="history__date"></div>
                            <span>29 Feb 2019</span>
                            <h4>Building Pool In The Hotel</h4>
                            <img src="{{ url_for('static', filename='customer/img/history/history-3.jpg') }}" alt="">
                            <p>After returning from his military service, Jung Min-gyun immediately begins to expand his business. The first of those projects was the construction of a swimming pool. That can be used all year round
                             With the goal of attracting customers through swimming pools, all hotels have undergone expansion work.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-2 col-md-5 offset-md-2">
                        <div class="history__item right__first__item">
                            <div class="history__date"></div>
                            <span>02 Jul 2018</span>
                            <h4>Top hotel in the first half of 2018</h4>
                            <img src="{{ url_for('static', filename='customer/img/history/history-2.jpg') }}" alt="">
                            <p>The hotel business, which grew very rapidly in one year, became famous across the country beyond the region and eventually became a hotel in the first half. However, after the award, Jung Min-gyun suddenly disappeared
                                A month later, the news that he was being trained at the Nonsan Training Center was delivered, and the Gum Hotel was struck by a big shock.</p>
                        </div>
                        <div class="history__item mb-0">
                            <div class="history__date"></div>
                            <span>10 Dec 2020</span>
                            <h4>Open New Hotel In New York</h4>
                            <img src="{{ url_for('static', filename='customer/img/history/history-4.jpg') }}" alt="">
                            <p>After Jung Min-gyun regained control, the Gum Hotel has achieved steady growth and has regained its No. 1 honor. Driven by this momentum, Jung Min-gyun aggressively began to build a new hotel.
                                Its location was Jeju Island.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- History Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{{ url_for('static', filename='customer/img/footer-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo__carousel owl-carousel">
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-1.png') }}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-2.png') }}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-3.png') }}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-4.png') }}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-5.png') }}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__logo">
                                <a href="indexEng"><img src="{{ url_for('static', filename='customer/img/logo3.png') }}" alt=""></a>
                            </div>
                            <h4>031-400-1005</h4>
                            <ul>
                                <li>Gyeongido Ansansi Sanglokgu Hanyang road 55, Republic of Korea</li>
                                <li>Itmomhotel@gmail.com</li>
                            </ul>
                            <div class="footer__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1 col-md-5 offset-md-1 col-sm-6">
                        <div class="footer__widget">
                            <h4>Quick Link</h4>
                            <ul>
                                <li><a href="indexEng">Home</a></li>
                                <li><a href="reservationEng">Booking</a></li>
                                <li><a href="aboutEng">About Us</a></li>
                                <li><a href="#">Review</a></li>
                                <li><a href="contactEng">Contact</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Services</a></li>
                                <li><a href="roomEng">Our Room</a></li>
                                <li><a href="#">Restaurants</a></li>
                                <li><a href="reservationcheckEng">Reservation Check</a></li>
                                <li><a href="#">Events</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <div class="footer__newslatter">
                            <h4>Subscribe our newlatester</h4>
                            <form action="#">
                                <input type="text" placeholder="Your E-mail Address">
                                <button type="submit">Subscribe</button>
                            </form>
                            <div class="footer__newslatter__find">
                                <h5>Find Us:</h5>
                                <div class="footer__newslatter__find__links">
                                    <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                    <a href="#"><i class="fa fa-map-o"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-forumbee"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Itmomhotel</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <ul class="footer__copyright__links">
                            <li><a href="#">Terms Of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='customer/js/jquery-3.3.1.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/bootstrap.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/jquery.nice-select.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/jquery-ui.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/jquery.slicknav.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/owl.carousel.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/main.js') }}" > </script>
</body>

</html>
