<!DOCTYPE html>
<html lang="zxx">
<!--English-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hiroto Template">
    <meta name="keywords" content="Hiroto, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Strong Gum Hotel</title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/elegant-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/slicknav.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='customer/css/style.css')}}">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="./index"><img src="{{ url_for('static', filename='customer/img/logo.png') }}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__btn__widget">
            <a href="#">Book Now <span class="arrow_right"></span></a>
        </div>
        <div class="offcanvas__widget">
            <ul>
                <li><span class="icon_pin_alt"></span> Gyeongido Ansansi Sanglokgu Hanyang road 55</li>
                <li><span class="icon_phone"></span> 031-400-1005</li>
            </ul>
        </div>
        <div class="offcanvas__language">
            <img src="{{ url_for('static', filename='customer/img/lan.png') }}" alt="">
            <span>English</span>
            <i class="fa fa-angle-down"></i>
            <ul>
                <li><a href="./index">English</li>
                <li><a href="./indexEng">Korean</li>
            </ul>
        </div>
        <div class="offcanvas__auth">
            <ul>
                <li><a href="./manager/login">Manager Page</a></li>
                <li><a href="#">Reservation Check</a></li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><span class="icon_pin_alt"></span> Gyeongido Ansansi Sanglokgu Hanyang road 55</li>
                            <li><span class="icon_phone"></span> 031-400-1005</li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__auth">
                                <ul>
                                    <li><a href="./manager/login">Manager Page</a></li>
                                    <li><a href="reservationcheckEng">Reservation Check</a></li>
                                </ul>
                            </div>
                            <div class="header__top__language">
                                <img src="{{ url_for('static', filename='customer/img/lan.png') }}" alt="">
                                <span>English</span>
                                <i class="fa fa-angle-down"></i>
                                <ul>
                                    <li><a href="./indexEng">English</li>
                                    <li><a href="./index">Korean</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__nav__option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header__logo">
                            <a href="./indexEng"><img src="{{ url_for('static', filename='customer/img/logo3.png') }}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="header__nav">
                            <nav class="header__menu">
                                <ul class="menu__class">
                                    <li class="active"><a href="./indexEng">Home</a></li>
                                    <li><a href="./roomsEng">Rooms</a></li>
                                    <li><a href="./aboutEng">About Us</a></li>
                                    <li><a href="room-detailsEng">Details</a></li>
                                    <li><a href="./blog">News</a></li>
                                    <li><a href="./contactEng">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="header__nav__widget">
                                <a href="reservationEng">Book Now <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <span class="fa fa-bars"></span>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="{{ url_for('static', filename='customer/img/hotel-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__text">
                        <h5>WELCOME ITMOM</h5>
                        <h2>Experience the greatest for you holidays.</h2>
                    </div>
                    <form action="#" class="filter__form">
                        <div class="filter__form__item">
                            <p>Check In</p>
                            <div class="filter__form__datepicker">
                                <span class="icon_calendar"></span>
                                <input type="text" class="datepicker_pop check__in">
                                <i class="arrow_carrot-down"></i>
                            </div>
                        </div>
                        <div class="filter__form__item">
                            <p>Check Out</p>
                            <div class="filter__form__datepicker">
                                <span class="icon_calendar"></span>
                                <input type="text" class="datepicker_pop check__out">
                                <i class="arrow_carrot-down"></i>
                            </div>
                        </div>
                        <div class="filter__form__item filter__form__item--select">
                            <p>Adult</p>
                            <div class="filter__form__select">
                                <span class="icon_group"></span>
                                <select>
                                    <option value="">1 Adult</option>
                                    <option value="">2 Adult</option>
                                    <option value="">3 Adult</option>
                                    <option value="">4 Adult</option>
                                </select>
                            </div>
                        </div>
                        <div class="filter__form__item filter__form__item--select">
                            <p>Children</p>
                            <div class="filter__form__select">
                                <span class="icon_group"></span>
                                <select>
                                    <option value="">1 Children</option>
                                    <option value="">2 Children</option>
                                    <option value="">3 Children</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit">BOOK NOW</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Home About Section Begin -->
    <section class="home-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home__about__text">
                        <div class="section-title">
                            <h5>ABOUT US</h5>
                            <h2>Welcome to the Itmom hotel.</h2>
                        </div>
                        <p class="first-para">We, Itmom Hotel, promise to always do our best to provide the best experience to our customers.</p>
                        <p class="last-para">If you have any complaints, please feel free to contact us.</p>
                        <img src="{{ url_for('static', filename='customer/img/home-about/sign.jpeg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home__about__pic">
                        <img src="{{ url_for('static', filename='customer/img/home-about/home.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home About Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-1.png') }}" alt="">
                        <h4>Free Wi-Fi</h4>
                        <p>Enjoy free Wi-Fi at very fast speeds anywhere in the hotel.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-2.png') }}" alt="">
                        <h4>Premium Pool</h4>
                        <p>In the indoor pool, you can play in the water regardless of the season.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-3.png') }}" alt="">
                        <h4>Coffee Maker</h4>
                        <p>Have a pleasant day with a coffee maker in each room.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-4.png') }}" alt="">
                        <h4>Bar Wine</h4>
                        <p>When you need an atmosphere, how about a glass of wine?</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-5.png') }}" alt="">
                        <h4>TV HD</h4>
                        <p>You can enjoy the UHD quality TV to your heart's content.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="services__item">
                        <img src="{{ url_for('static', filename='customer/img/services/services-6.png') }}" alt="">
                        <h4>Restaurant</h4>
                        <p>Experience the best meals served by a three-star Michelin chef.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Home Room Section Begin -->
    <section class="home-room spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h5>OUR ROOM</h5>
                        <h2>Explore Our Hotel</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="home__room__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/home-room/hr-1.jpg') }}">
                        <div class="home__room__title">
                            <h4>Standard Room</h4>
                            <h2><sup>$</sup>100~<span>/day</span></h2>
                        </div>
                        <a href="#">Booking Now</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="home__room__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/home-room/hr-2.jpg') }}">
                        <div class="home__room__title">
                            <h4>Superior Room</h4>
                            <h2><sup>$</sup>150~<span>/day</span></h2>
                        </div>
                        <a href="#">Booking Now</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="home__room__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/home-room/hr-3.jpg') }}">
                        <div class="home__room__title">
                            <h4>Deluxe Room</h4>
                            <h2><sup>$</sup>200~<span>/day</span></h2>
                        </div>
                        <a href="#">Booking Now</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="home__room__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/home-room/hr-4.jpg') }}">
                        <div class="home__room__title">
                            <h4>Suite Room</h4>
                            <h2><sup>$</sup>250~<span>/day</span></h2>
                        </div>
                        <a href="#">Booking Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Room Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="testimonial__pic">
                        <img src="{{ url_for('static', filename='customer/img/insa.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="testimonial__text">
                        <div class="section-title">
                            <h5>Testimonials</h5>
                            <h2>What do customers say about us?</h2>
                        </div>
                        <div class="testimonial__slider__content">
                            <div class="testimonial__slider owl-carousel">
                                <div class="testimonial__item">
                                    <h5>Detailed Review:</h5>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>I liked it because the accessibility was good. When I first entered the room, I think I liked the room more because it looked so neat and cozy!! I will generously give you 10 stars.</p>
                                    <div class="testimonial__author">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="testimonial__author__title">
                                                    <h5>Son Heung-min</h5>
                                                    <span>2020-11-28 ~ 2020-11-30</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="testimonial__author__social">
                                                    <a href="https://ko-kr.facebook.com/HeungMinSonOfficial"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="https://www.instagram.com/hm_son7/?hl=ko"><i class="fa fa-instagram"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial__item">
                                    <h5>Detailed Review:</h5>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>It's been a while since I've been traveling with my family, and I'm really taking a rest. The sea is close enough that you don't have to go far, and the ocean view from the window is nice. I am satisfied in all aspects. :)</p>
                                    <div class="testimonial__author">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="testimonial__author__title">
                                                    <h5>Lionel Messi</h5>
                                                    <span>2020-11-29 ~ 2020-12-02</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="testimonial__author__social">
                                                    <a href="https://www.facebook.com/leomessi"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="https://www.instagram.com/leomessi/"><i class="fa fa-instagram"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial__item">
                                    <h5>Detailed Review:</h5>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <p>Overall it was okay. However, this was a little disappointing because I saw trash several times in front of the hallway. Other than that, everything was fine!</p>
                                    <div class="testimonial__author">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="testimonial__author__title">
                                                    <h5>Faker</h5>
                                                    <span>2020-12-01 ~ 2020-12-04</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="testimonial__author__social">
                                                    <a href="https://www.facebook.com/fakerkorea"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="https://www.instagram.com/faker/"><i class="fa fa-instagram"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial__item">
                                    <h5>Detailed Review:</h5>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>Every year I come to this hotel to relax. I'm really grateful for bringing me back to having a great experience whenever I do. This year, too, it has provided me with the best service, and I have a belief that I will be able to visit this hotel next year with great anticipation. I hope it stays the same.</p>
                                    <div class="testimonial__author">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="testimonial__author__title">
                                                    <h5>Barack Obama</h5>
                                                    <span>2020-11-30 ~ 2020-12-07</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="testimonial__author__social">
                                                    <a href="https://www.facebook.com/barackobama/"><i class="fa fa-facebook"></i></a>
                                                    <a href="https://twitter.com/barackobama"><i class="fa fa-twitter"></i></a>
                                                    <a href="https://www.instagram.com/barackobama/"><i class="fa fa-linkedin"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-num" id="snh-1"></div>
                            <div class="slider__progress"><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Gallery Section Begin -->
    <section class="gallery spad">
        <div class="gallery__text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="section-title">
                            <h5>OUR GALLERY</h5>
                            <h2>Explore The Most Beautiful In The Hotel</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="gallery__title">
                            <p>The photos you take at the hotel will be one of the most memorable photos of your life. Gum Hotel promises to give you the best memories.
                            <a href="#" class="primary-btn">View Gallery <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery__slider owl-carousel">
            <div class="gallery__item small__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/gallery/gal-1.jpg') }}"></div>
            <div class="gallery__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/gallery/gal-2.jpg') }}"></div>
            <div class="gallery__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/gallery/gal-3.jpg') }}"></div>
            <div class="gallery__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/gallery/gal-4.jpg') }}"></div>
            <div class="gallery__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/gallery/gal-5.jpg') }}"></div>
            <div class="gallery__item set-bg" data-setbg="{{ url_for('static', filename='customer/img/gallery/gal-6.jpg') }}"></div>
        </div>
    </section>
    <!-- Gallery Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h5>NEWS & EVENT</h5>
                        <h2>Apply for the event on Instagram!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 p-0 order-lg-1 col-md-6 order-md-1">
                    <div class="latest__blog__pic set-bg" data-setbg="{{ url_for('static', filename='customer/img/latest-blog/blog-1.jpg') }}"></div>
                </div>
                <div class="col-lg-3 p-0 order-lg-2 col-md-6 order-md-2">
                    <div class="latest__blog__text">
                        <div class="label">Hotel</div>
                        <h5>I made a snowman earlier this year and I want to go again...</h5>
                        <p><i class="fa fa-clock-o"></i> 11st January, 2020</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 p-0 order-lg-3 col-md-6 order-md-4">
                    <div class="latest__blog__pic set-bg" data-setbg="{{ url_for('static', filename='customer/img/latest-blog/blog-2.jpg') }}"></div>
                </div>
                <div class="col-lg-3 p-0 order-lg-4 col-md-6 order-md-3">
                    <div class="latest__blog__text">
                        <div class="label">Room</div>
                        <h5>The rooms were really clean and I liked it!!</h5>
                        <p><i class="fa fa-clock-o"></i> 29th November, 2020</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 p-0 order-lg-6 col-md-6 order-md-5">
                    <div class="latest__blog__pic latest__blog__pic__last__row set-bg"
                        data-setbg="{{ url_for('static', filename='customer/img/latest-blog/blog-3.jpg') }}"></div>
                </div>
                <div class="col-lg-3 p-0 order-lg-5 col-md-6 order-md-6">
                    <div class="latest__blog__text">
                        <div class="label">Travel</div>
                        <h5>I went to the sea right in front of me, but no matter how I take it, a nice picture comes out. lol</h5>
                        <p><i class="fa fa-clock-o"></i> 2nd December, 2020</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 p-0 order-lg-8 col-md-6 order-md-8">
                    <div class="latest__blog__pic latest__blog__pic__last__row set-bg"
                        data-setbg="{{ url_for('static', filename='customer/img/latest-blog/blog-4.jpg') }}"></div>
                </div>
                <div class="col-lg-3 p-0 order-lg-7 col-md-6 order-md-7">
                    <div class="latest__blog__text">
                        <div class="label">Booking</div>
                        <h5>Booking was made really fast and easy.</h5>
                        <p><i class="fa fa-clock-o"></i> 5th December, 2020</p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="{{ url_for('static', filename='customer/img/footer-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo__carousel owl-carousel">
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-1.png') }}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-2.png') }}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-3.png') }}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-4.png') }}" alt=""></a>
                        </div>
                        <div class="logo__carousel__item">
                            <a href="#"><img src="{{ url_for('static', filename='customer/img/logo/logo-5.png') }}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__logo">
                                <a href="indexEng"><img src="{{ url_for('static', filename='customer/img/logo3.png') }}" alt=""></a>
                            </div>
                            <h4>031-400-1005</h4>
                            <ul>
                                <li>Gyeongido Ansansi Sanglokgu Hanyang road 55, Republic of Korea</li>
                                <li>Itmomhotel@gmail.com</li>
                            </ul>
                            <div class="footer__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1 col-md-5 offset-md-1 col-sm-6">
                        <div class="footer__widget">
                            <h4>Quick Link</h4>
                            <ul>
                                <li><a href="indexEng">Home</a></li>
                                <li><a href="reservationEng">Booking</a></li>
                                <li><a href="aboutEng">About Us</a></li>
                                <li><a href="#">Review</a></li>
                                <li><a href="contactEng">Contact</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Services</a></li>
                                <li><a href="roomEng">Our Room</a></li>
                                <li><a href="#">Restaurants</a></li>
                                <li><a href="reservationcheckEng">Reservation Check</a></li>
                                <li><a href="#">Events</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <div class="footer__newslatter">
                            <h4>Subscribe our newlatester</h4>
                            <form action="#">
                                <input type="text" placeholder="Your E-mail Address">
                                <button type="submit">Subscribe</button>
                            </form>
                            <div class="footer__newslatter__find">
                                <h5>Find Us:</h5>
                                <div class="footer__newslatter__find__links">
                                    <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                    <a href="#"><i class="fa fa-map-o"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-forumbee"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <div class="footer__copyright__text">
                            <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Itmomhotel</a></p>
                        </div>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <ul class="footer__copyright__links">
                            <li><a href="#">Terms Of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{{ url_for('static', filename='customer/js/jquery-3.3.1.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/bootstrap.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/jquery.nice-select.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/jquery-ui.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/jquery.slicknav.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/owl.carousel.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='customer/js/main.js') }}" > </script>
  </body>

  </html>
